*{
  font-family: 'Times New Roman', Times, serif;
  color: white;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
   
  }


  main {
    flex: 1 0 auto;
  }
  #carBG{
      background-color: greenyellow;
      width: 100%;
  }
  .drinkStats{
    background-color:#5B8E7D;
    color:white;
    width: 100%;
    padding: 2%;
    margin: 4%;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  .collection-item{
    color: black;

  }
  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  #mainBG{
      
      background-color: #F4E285;
      width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  p{
      padding: 3%;
  }
  h2{
      text-align: center;
      margin: 0%;
  }
  nav{
      background-color: #8CB369;
      color: #01161E;
  }
  .page-footer{
    background-color: #BC4B51;
    color:white;
  }
  .brand-logo {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 250px;
  }
  #carousel{
    margin-top: 6%;
  }
  #cocktailimg {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
  }
  label {
    color: white;
  }
  input{
    min-height: 54px;
    width: 64px;
  }
  form{
    margin: 1%;
  }
  label{
    color: white !important;
  }