*{
  font-family: 'Comfortaa', sans-serif;
  color: white;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
   background-color: #8CB369;
  }


  main {
    flex: 1 0 auto;
  }
  #carBG{
      background-color: greenyellow;
      width: 100%;
  }
  .drinkStats{
    background-color:#5B8E7D;
    color:white;
    width: 100%;
    padding: 2%;
    margin: 4%;
    border: 1px solid black;
    border-radius: 10px;
  }
  
  .collection-item{
    color: black;
    padding: 10px 20px;
    background-color: white;
  }
  .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  #mainBG{
      
    background-color: #F4E285;
    background-image: url(bkg.jpg);
    background-blend-mode: normal;
    background-size: 30%;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  p{
      padding: 3%;
  }
  h2{
      text-align: center;
      margin: 0%;
  }
  nav{
      background-color: #8CB369;
      color: #01161E;
  }
  .page-footer{
    background-color: #BC4B51;
    color:white;
    
  }
  .brand-logo {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 250px;
  }
  #carousel{
    margin-top: 6%;
  }

  .carousel-item{
    background-position: center;
  }

  #ingDad {
    background-color:#5B8E7D;
    min-width: 75vw;
    padding: 20px;
    border-radius: 15px;
  }
  #ingredients {
    margin-top: 40px;
    margin-bottom: 20px;
  }
  
  .drinkBtn {
    padding: 0px 10px;
    color: black;
  }
  @media screen and (max-width: 994px) {
    .drinkBtn {
      position: relative;
      left: 2vw;
      color: black;
    }
  }
  #classic {
    position: relative;
    top: 5vh;
    width: 600px;
    left: 15vw;
  }

@media screen and (max-width: 1024px) {
  #classic {
    width: 60vw;
    height: 200px!important;
    position: relative;
    left: 10vw;
    top: 5vh;
  }
}
  #cocktailimg {
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
  }
  label {
    color: white;
  }
  input{
    min-height: 54px;
    width: 64px;
  }
  form{
    margin: 1%;
  }
  label{
    color: white !important;
  }
  footer{
    height: 100%;
    width: 100%;
    margin-bottom: -25px;
  }